# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Fuck.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Benjamin.Fager\Documents\Unreal Projects\UEProlmao\.idea\.idea.Fuck\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
